/* Common link style */
.sidebar-link {
  @apply block py-4 px-4 text-[#2c5c2c] text-left text-sm font-semibold cursor-pointer;
}

/* Active link style */
.sidebar-link-active {
  @apply bg-[#607b64] text-white;
}
/* .sidebar-link {
  display: block;
  padding: 12px 16px;
  color: #4a5568;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background-color: #edf2f7;
  color: #2d3748;
}

.sidebar-link-active {
  background-color: #e2e8f0;
  color: #2d3748;
  font-weight: 600;
} */

/* @media (max-width: 768px) {
  .sidebar-link {
    padding: 16px 20px;
  }
} */
